<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
    <h1>Criar Sugestão</h1>

        <form action="/criar-sugestao" method="post">

            <input type="text" placeholder="titulo" name="titulo" id="titulo"><br>
            <textarea placeholder="Sugestão" name="descricao" id="descricao" cols="50" rows="10"></textarea><br>
            <button>Enviar</button>
        </form>

        <hr>

    </div>

</body>
</html>