<%- include('partials/header') %>
<%- include('partials/navbar') %>

<style>

    body {
        background-color: #222;
        color: #fff;
    }
    .container {
        max-width: 660px;
        margin: 30px auto;
    }

    .container h1 {
        margin-left: 120px;
    }

    a {
        text-decoration: none;
        color: #000;
        padding: 15px;
        font-weight: bold;
    }
</style>

<body>
    
    <div class="container">

        <h1>Perfil Administrador</h1>
        <hr>

        <div class="card">
            <a href="/indexAdmin"><h4>Gerenciamento de Usuários</h4></a>
        </div>

    </div>

</body>