body {
    background-image: url('../img/img06.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    padding-bottom: 0;
}

section {
    margin-left: 15px;
}

.card {
    background-color: rgb(100, 100, 100, 0.5);
}
